In [41]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load dataset
data = pd.read_csv('kp_updated (1).csv')
print(data)

# Preview data
print(data.info())

            Timestamp  Score  Camp Date         Area                     Name  \
0     1/23/2024 21:37    NaN  1/23/2024      Regi 01               Raza Hasan
1     1/24/2024 15:11    NaN  1/24/2024      Regi 01                      ABC
2     1/25/2024 12:01    NaN  1/21/2024  Chamkini 02               Nasarullah
3     1/25/2024 12:08    NaN  1/21/2024  Chamkini 02             Abdul Sattar
4     1/25/2024 12:12    NaN  1/21/2024  Chamkini 02                   Khadim
...               ...    ...        ...          ...                      ...
4430              NaN    NaN        NaN    Charsadda                 M/O Maaz
4431              NaN    NaN        NaN    Charsadda  Nadia W/O Shah Mohammad
4432              NaN    NaN        NaN    Charsadda             Khahish Bibi
4433              NaN    NaN        NaN    Charsadda               Nasarullah
4434              NaN    NaN        NaN    Charsadda             Abdul Sattar

      Gender National Id Card Number    Address Contact Number        Age  \
0       Male      hdf123-332-222-333       Regi             NaN   51 - 60
1       Male             51669923450       Regi       920104567   31 - 40
2       Male                    nill  Chamkini       3179570829   41 - 50
3       Male                     Nil   Chamkani      3171919625   51 - 60
4       Male                     NaN   Chamkini      3005855570  above 60
...      ...                     ...        ...             ...       ...
4430    Male                     NaN        NaN             NaN        40
4431  Female                     NaN        NaN             NaN        25
4432  Female                     NaN        NaN             NaN        56
4433  Female                     NaN        NaN             NaN        14
4434  Female                     NaN        NaN             NaN        20

      ... Foot Screening Notes Dental Screening  \
0     ...                  yes              NaN
1     ...           klkjllkkjl              NaN
2     ...         not screened              NaN
3     ...                  NaN              NaN
4     ...        not mentioned              NaN
...   ...                  ...              ...
4430  ...                  NaN              NaN
4431  ...                  NaN              NaN
4432  ...                  NaN              NaN
4433  ...                  NaN              NaN
4434  ...                  NaN              NaN

                           Doctors Name Doctor's Notes  \
0     Need to be seen in the next visit            NaN
1                                   glm           dlih
2                      Dr Ijaz Ali Shah       No Notes
3                     Dr, Ejaz Ali Shah            NaN
4                      Dr Ijaz Ali Shah  not mentioned
...                                 ...            ...
4430                                NaN            NaN
4431                                NaN            NaN
4432                                NaN            NaN
4433                                NaN            NaN
4434                                NaN            NaN

     Medicines/Insulin Prescribed Prescribed  Medicine Names  Unnamed: 31  \
0                        Insullin                         NaN         NaN
1                     Pain killer                       zobix         NaN
2           Hypertension Medicine                  Tab Telsan         NaN
3               Diabetes Medicine             Tab. Sitaglumet         NaN
4               Diabetes Medicine       Telsan and Sitaglumet         NaN
...                           ...                         ...         ...
4430                          NaN                         NaN         NaN
4431                          NaN                         NaN         NaN
4432                          NaN                         NaN         NaN
4433                          NaN                         NaN         NaN
4434                          NaN                         NaN         NaN

     Unnamed: 32 Unnamed: 33 Obesity
0            NaN         NaN     NaN
1            NaN         NaN     NaN
2            NaN         NaN     NaN
3            NaN         NaN     NaN
4            NaN         NaN     NaN
...          ...         ...     ...
4430         NaN         NaN     NaN
4431         NaN         NaN     NaN
4432         NaN         NaN     NaN
4433         NaN         NaN     NaN
4434         NaN         NaN     NaN

[4435 rows x 35 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4435 entries, 0 to 4434
Data columns (total 35 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Timestamp                                                            3034 non-null   object
 1   Score                                                                0 non-null      float64
 2   Camp Date                                                            3034 non-null   object
 3   Area                                                                 4435 non-null   object
 4   Name                                                                 4432 non-null   object
 5   Gender                                                               4435 non-null   object
 6   National Id Card Number                                              2291 non-null   object
 7   Address                                                              2978 non-null   object
 8   Contact Number                                                       2388 non-null   object
 9   Age                                                                  4322 non-null   object
 10  History of Diabetes                                                  3027 non-null   object
 11  History of Hypertension                                              3026 non-null   object
 12  The patient was provided with Diabetes Awareness in the camp today.  4432 non-null   object
 13  Random Blood Sugar Reading                                           4318 non-null   object
 14  Blood Pressure Readings                                              4062 non-null   object
 15  Height                                                               3095 non-null   object
 16  Weight                                                               4070 non-null   object
 17  BMI                                                                  2715 non-null   object
 18  Cholesterol                                                          1422 non-null   object
 19  HBA1c                                                                2173 non-null   object
 20  Diet Chart given to the patient                                      3150 non-null   object
 21  Patient diagnosis                                                    3022 non-null   object
 22  Patient Diagnosed with Hypertension                                  3155 non-null   object
 23  Patient Referred to Sugar Hospital                                   3023 non-null   object
 24  Eye Screening Notes                                                  1494 non-null   object
 25  Foot Screening Notes                                                 1395 non-null   object
 26  Dental Screening                                                     709 non-null    object
 27  Doctors Name                                                         3026 non-null   object
 28  Doctor's Notes                                                       1902 non-null   object
 29  Medicines/Insulin Prescribed                                         2709 non-null   object
 30  Prescribed  Medicine Names                                           3006 non-null   object
 31  Unnamed: 31                                                          0 non-null      float64
 32  Unnamed: 32                                                          0 non-null      float64
 33  Unnamed: 33                                                          0 non-null      float64
 34  Obesity                                                              140 non-null    object
dtypes: float64(4), object(31)
memory usage: 1.2+ MB
None

In [42]:
data.dropna

<bound method DataFrame.dropna of             Timestamp  Score  Camp Date         Area                     Name  \
0     1/23/2024 21:37    NaN  1/23/2024      Regi 01               Raza Hasan
1     1/24/2024 15:11    NaN  1/24/2024      Regi 01                      ABC
2     1/25/2024 12:01    NaN  1/21/2024  Chamkini 02               Nasarullah
3     1/25/2024 12:08    NaN  1/21/2024  Chamkini 02             Abdul Sattar
4     1/25/2024 12:12    NaN  1/21/2024  Chamkini 02                   Khadim
...               ...    ...        ...          ...                      ...
4430              NaN    NaN        NaN    Charsadda                 M/O Maaz
4431              NaN    NaN        NaN    Charsadda  Nadia W/O Shah Mohammad
4432              NaN    NaN        NaN    Charsadda             Khahish Bibi
4433              NaN    NaN        NaN    Charsadda               Nasarullah
4434              NaN    NaN        NaN    Charsadda             Abdul Sattar

      Gender National Id Card Number    Address Contact Number        Age  \
0       Male      hdf123-332-222-333       Regi             NaN   51 - 60
1       Male             51669923450       Regi       920104567   31 - 40
2       Male                    nill  Chamkini       3179570829   41 - 50
3       Male                     Nil   Chamkani      3171919625   51 - 60
4       Male                     NaN   Chamkini      3005855570  above 60
...      ...                     ...        ...             ...       ...
4430    Male                     NaN        NaN             NaN        40
4431  Female                     NaN        NaN             NaN        25
4432  Female                     NaN        NaN             NaN        56
4433  Female                     NaN        NaN             NaN        14
4434  Female                     NaN        NaN             NaN        20

      ... Foot Screening Notes Dental Screening  \
0     ...                  yes              NaN
1     ...           klkjllkkjl              NaN
2     ...         not screened              NaN
3     ...                  NaN              NaN
4     ...        not mentioned              NaN
...   ...                  ...              ...
4430  ...                  NaN              NaN
4431  ...                  NaN              NaN
4432  ...                  NaN              NaN
4433  ...                  NaN              NaN
4434  ...                  NaN              NaN

                           Doctors Name Doctor's Notes  \
0     Need to be seen in the next visit            NaN
1                                   glm           dlih
2                      Dr Ijaz Ali Shah       No Notes
3                     Dr, Ejaz Ali Shah            NaN
4                      Dr Ijaz Ali Shah  not mentioned
...                                 ...            ...
4430                                NaN            NaN
4431                                NaN            NaN
4432                                NaN            NaN
4433                                NaN            NaN
4434                                NaN            NaN

     Medicines/Insulin Prescribed Prescribed  Medicine Names  Unnamed: 31  \
0                        Insullin                         NaN         NaN
1                     Pain killer                       zobix         NaN
2           Hypertension Medicine                  Tab Telsan         NaN
3               Diabetes Medicine             Tab. Sitaglumet         NaN
4               Diabetes Medicine       Telsan and Sitaglumet         NaN
...                           ...                         ...         ...
4430                          NaN                         NaN         NaN
4431                          NaN                         NaN         NaN
4432                          NaN                         NaN         NaN
4433                          NaN                         NaN         NaN
4434                          NaN                         NaN         NaN

     Unnamed: 32 Unnamed: 33 Obesity
0            NaN         NaN     NaN
1            NaN         NaN     NaN
2            NaN         NaN     NaN
3            NaN         NaN     NaN
4            NaN         NaN     NaN
...          ...         ...     ...
4430         NaN         NaN     NaN
4431         NaN         NaN     NaN
4432         NaN         NaN     NaN
4433         NaN         NaN     NaN
4434         NaN         NaN     NaN

[4435 rows x 35 columns]>

In [43]:
numerical_columns = [ 'BMI', 'HBA1c']  # Add other relevant columns
categorical_columns = ['Age', 'Gender', 'Area', 'History of Diabetes']

In [44]:
from sklearn.preprocessing import OneHotEncoder
encoder= OneHotEncoder(sparse_output=False)

# Fit and transform the categorical data
encoded_data = encoder.fit_transform(data[categorical_columns])

# Create a DataFrame for the encoded columns
encoded_columns = encoder.get_feature_names_out(categorical_columns)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)

encoded_df

,Age_-,Age_1,Age_1 yr,Age_1.5 yrs,Age_10,Age_10 yrs,Age_11,Age_11 months,Age_12,Age_123,...,"Area_Ghazi, Tarbela",Area_Regi 01,Area_Shiekh Kali Charsedda,Area_Sikh community 03,Area_Swabi 04,History of Diabetes_Maybe,History of Diabetes_No,History of Diabetes_Not Mentioned,History of Diabetes_Yes,History of Diabetes_nan
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4430,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4431,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4432,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4433,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4434,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [45]:

# Dropping columns with excessive missing encoded_df
# columns_to_drop = ['Score', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33']  # Update with actual unnamed columns if more exist
# encoded_df = encoded_df.drop(columns=columns_to_drop, axis=1)

# Impute missing values
numerical_columns = [ 'BMI', 'HBA1c']  # Add other relevant columns
categorical_columns = ['Age', 'Gender', 'Area', 'History of Diabetes']

# Imputation for numerical encoded_df
for col in numerical_columns:
    encoded_df[col] = encoded_df[col].fillna(encoded_df[col].median())

# Imputation for categorical encoded_df
for col in categorical_columns:
    encoded_df[col] = encoded_df[col].fillna(encoded_df[col].mode()[0])

# Renaming columns for standardization
encoded_df = encoded_df.rename(columns={
    'Random Blood Sugar Reading': 'RBS',
    'Hemoglobin A1c': 'HBA1c',
    # Add other column renames here
})

# Ensure appropriate encoded_df types
encoded_df['Age'] = pd.to_numeric(encoded_df['Age'], errors='coerce')  # If Age needs to be numeric
print(encoded_df.info())

KeyError: 'BMI'

In [ ]:
# Geographical Analysis: Diabetes prevalence by area
area_diabetes = data.groupby('Area')['History of Diabetes'].value_counts(normalize=True).unstack()
area_diabetes.plot(kind='bar', stacked=True, figsize=(12, 6), colormap='coolwarm')
plt.title('Diabetes Prevalence by Area')
plt.xlabel('Area')
plt.ylabel('Proportion')
plt.show()

# Gender Distribution
gender_distribution = data['Gender'].value_counts(normalize=True) * 100
gender_distribution.plot(kind='bar', figsize=(6, 4), color='skyblue')
plt.title('Gender Distribution of Patients')
plt.ylabel('Percentage')
plt.show()

# Age Group Analysis
age_bins = [0, 18, 30, 45, 60, 75, 100]
age_labels = ['<18', '18-30', '31-45', '46-60', '61-75', '>75']
data['Age_Group'] = pd.cut(data['Age'], bins=age_bins, labels=age_labels)

age_group_analysis = data.groupby('Age_Group')['History of Diabetes'].value_counts(normalize=True).unstack()
age_group_analysis.plot(kind='bar', stacked=True, figsize=(12, 6), colormap='viridis')
plt.title('Diabetes Prevalence by Age Group')
plt.xlabel('Age Group')
plt.ylabel('Proportion')
plt.show()

# Correlations
correlation_matrix = data[['RBS', 'HBA1c', 'BMI']].corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation between RBS, HBA1c, and BMI')
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Preparing data
features = ['RBS', 'HBA1c', 'BMI']  # Add more relevant columns if needed
target = 'History of Diabetes'

X = data[features]
y = data[target].map({'Yes': 1, 'No': 0})  # Encoding target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Logistic Regression
logistic_model = LogisticRegression()
logistic_model.fit(X_train, y_train)
y_pred_logistic = logistic_model.predict(X_test)
print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_logistic))
print(classification_report(y_test, y_pred_logistic))

# Decision Tree
tree_model = DecisionTreeClassifier(max_depth=5, random_state=42)
tree_model.fit(X_train, y_train)
y_pred_tree = tree_model.predict(X_test)
print("Decision Tree Accuracy:", accuracy_score(y_test, y_pred_tree))
print(classification_report(y_test, y_pred_tree))

# Random Forest
forest_model = RandomForestClassifier(n_estimators=100, random_state=42)
forest_model.fit(X_train, y_train)
y_pred_forest = forest_model.predict(X_test)
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_forest))
print(classification_report(y_test, y_pred_forest))

In [ ]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# Standardizing data for clustering
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# K-Means Clustering
kmeans = KMeans(n_clusters=3, random_state=42)
clusters = kmeans.fit_predict(X_scaled)

# Adding cluster labels to the dataset
data['Cluster'] = clusters
sns.scatterplot(data=data, x='RBS', y='HBA1c', hue='Cluster', palette='viridis')
plt.title('Patient Clusters based on Health Metrics')
plt.show()

In [ ]:
# Save this as app.py and run using `streamlit run app.py`
import streamlit as st

st.title('Diabetes Risk Analysis Dashboard')

# Prevalence of Diabetes
st.subheader('Diabetes Prevalence by Area')
st.bar_chart(area_diabetes)

# Risk Analysis
st.subheader('Diabetes Risk Correlation')
st.pyplot(sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f").figure)